<!doctype html>
<html lang="en">
<head>
  <title>调查问卷</title>
  <link rel="stylesheet" href="/stylesheets/admin.commons.css"/>
  <link rel="stylesheet" href="/stylesheets/admin.movie.css"/>
</head>
<body>
<div class="main">
  <div class="nav">
    <% questionTypeList.forEach(function(value, index) {%>
      <a href="/admin?qid=<%= value.id%>" data-id="<%= value.id%>" class="nav-item<% if(questionId == value.id){%> nav-item-active<%}%>"><%= value.name%></a>
    <%}) %>
  </div>
  <div class="content">
    <div class="question-container question-modify">
      <button class="submit-modify-btn">保存</button>
      <p class="title">问题</p>
      <div class="question-form">
        <input type="text" data-origin-question="<%= questionInfo.question%>" class="question-text" value="<%= questionInfo.question%>"/>
      </div>
    </div>
    <div class="option-container">
      <span class="title">选项</span>
      <!--<button class="option-save-btn">保存全部</button>-->
      <ul class="option-list">
        <% questionInfo.options.forEach(function(option, optionIndex) {%>
        <li data-id="<%= option.optionInfo.id %>" data-option-index="<%= optionIndex %>" class="option-item">
          <div class="item-header">
            <span class="option-index"><%= optionIndex + 1 %>.</span>
            <button class="option-item-save-btn header-btn">保存</button>
            <button class="option-item-delete-btn header-btn">删除</button>
          </div>
          <div class="question-info">
            <div class="row movie-id-row">
              <span class="name">电影ID：</span><input type="text" class="movie-id-ipt" value="<%= option.optionInfo.movieId%>"/><span class="movie-id-text"><%= option.optionInfo.movieId%></span><button class="add-movie-id-btn">添加</button><span class="movie-en-name"><%= option.optionInfo.movieName%></span>
            </div>
            <div class="row movie-type-row">
              <p class="name">电影类型：</p>
              <ul class="movie-type-list">
                <li class="movie-type-item"><span class="movie-type-name"><%= option.optionInfo.movieType %></span><a href="javascript:void(0)" class="movie-type-delete-btn">x</a></li>
              </ul>
            </div>
            <div class="row movie-name-row">
              <p class="name">电影中文名：</p>
              <ul class="movie-ch-name-list">
                <% option.values.forEach(function(optionValue, valueIndex) {%>

                <li data-id="<%= optionValue.id%>" class="movie-ch-name-item <% if(optionValue.delete === false) {%>movie-ch-name-item-show<%}else{%>movie-ch-name-item-delete<%}%>">
                  <input type="checkbox" <% if(optionValue.status === true) { %>checked<%}%> class="option-status-checkbox"/>
                  <span class="ch-name"><%= optionValue.name %></span>
                  <a href="javascript:void(0)" class="movie-ch-name-delete-btn">x</a>
                </li>
                <% })%>
              </ul>
            </div>
          </div>
        </li>
        <%}) %>
      </ul>
      <button class="add-option-item-btn">+</button>
    </div>
  </div>
</div>
<script src="/javascripts/admin.commons.js"></script>
<script src="/javascripts/admin.movie.js"></script>
</body>
</html>
